* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
}

@media all and (min-width: 1100px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header-1 {
    display: flex;
    align-items: center;
  }

  .header-1-info-container {
    width: 40%;
    /*     padding: 0 0 0 3em; */
    text-align: center;
  }

  /*   .lists-two {
    display: none;
  } */

  .header-1-info {
    width: 100%;
    max-width: 500px;
  }
  .button-start {
    background-color: darkgray;
  }
}

.header-1 {
  text-align: center;
  background-color: lightgray;
  padding: 2rem 2rem 2rem;
}

.header-1 h2 {
  line-height: 1.5em;
}

.header-1 p {
  line-height: 2em;
  padding: 1.5rem 0 1.5rem 0;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-1 .button-start {
  width: 100%;
  padding: 15px 3rem;
  background-color: darkgray;
  color: white;
  border: none;
}

.header-2 {
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
}

.header-2 h2 p {
  padding: 0 1rem 0 1rem;
}
.information-orientation {
  position: relative;
  height: 500px;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.information-orientation-2 {
  position: relative;
  height: 500px;
  content: 'image';
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.information-orientation-3 {
  position: relative;
  height: 500px;
  content: 'image';
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media all and (min-width: 600px) {
  .information-orientation {
    position: relative;
    height: 500px;
    content: 'image';
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .information-orientation-2 {
    position: relative;
    height: 500px;
    content: 'image';
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .information-orientation-3 {
    position: relative;
    height: 500px;
    border: 4px solid red;
    content: 'image';
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.information-orientation {
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.banner-image {
  width: 60%;
  padding-right: 1.5rem;
}
.menubar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
}

@media all and (max-width: 1100px) {
  .list {
    padding-bottom: 2rem;
  }
  .right {
    display: none;
  }
  .image-desktop {
    display: none;
  }
  .article-image {
    display: none;
  }
  .logo {
    display: none;
  }
  .text-links {
    display: none;
  }

  .container-grid .row {
    background-color: #d0cece;
    margin: 0 0 0.5rem 0;
  }
}

@media all and (min-width: 1100px) {
  .list-text p {
    padding: 10px 0 10px;
  }
  .container-grid .row {
    padding: 0 0 1.5rem;
    background-color: white;
    margin: 0 0 0.5rem 0;
  }

  .menubar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
  }
  .icons {
    display: none;
  }
  .text-links {
    text-decoration: none;
    margin-right: 1.5rem;
  }
  .logo {
    flex: 1;
    padding-left: 1.5rem;
  }
  .image-mobile {
    display: none;
  }
}

.icons {
  width: 32px;
  height: 32px;
}

.header li {
  list-style-type: none;
  z-index: 999;
  position: relative;
}
.header ul {
  display: flex;
}

.header img {
}

.header li a {
}

.header {
}

.header right-sidebar {
}

.bottom {
  padding: 1rem 1rem 1rem 1rem;
}
.middle h1 {
  padding: 2rem 0 1rem 1rem;
  text-align: center;
}
.container-grid {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
}

@media all and (max-width: 1100px) {
  .list-text p {
    padding: 10px 0 10px;
  }
  .all-info {
    padding: 1rem 0 1rem 1rem;
  }
  .typedescription {
    display: none;
  }
  #news {
    display: none;
  }

  .list .image {
    width: 100%;
  }

  .image-mobile {
    width: 100%;
  }

  .home {
    padding: 2rem 2rem 2rem;
  }
}
@media all and (min-width: 1100px) {
  .main {
    padding: 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
  }

  .home {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 20px;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
  }

  .list img {
    width: 100%;
  }

  .list .image-desktop {
    object-fit: contain;
    width: 190px;
  }
  .article-image {
    width: 100%;
  }

  .article-image-right {
  }

  .article-image-right-2 {
  }

  .article-image-right-3 {
  }

  .description {
    display: flex;
    flex-direction: row;
  }

  .main-news-mobile {
    display: none;
  }
  /* .header-2-grid {
    display: grid;
    grid-template-columns: 800px 400px;
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
  } */
  .main-news {
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: green;
  }

  .right-sidebar {
    grid-column-start: 2;
    grid-column-end: 4;
    border: 2px solid blue;
  }
  .right-sidebar-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    border: 2px solid red;
  }
  .right-sidebar-3 {
    grid-column-start: 2;
    grid-column-end: 4;
    border: 2px solid orange;
  }
}

@media all and (min-width: 1100px) {
  .lists {
    grid-template-columns: 60% 1fr;
  }
  .middle {
    background-color: lightgray;
  }

  .row {
    padding-top: 2rem;
    background-color: white;
  }

  .row .title {
    font-weight: bold;
    padding-top: 1rem;
  }

  .row .type {
    color: black;
    padding: 10px 0 10px 0;
    font-weight: bold;
  }

  .row .description {
    color: black;
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.063rem;
    row-gap: 1.063rem;
    padding: 0 4.5rem 0 4.5rem;
  }

  .start-learning-img {
    width: 100%;
    background-image: url('./assets/img/course-computer-art.jpg');
    height: 200px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .start-learning-img-2 {
    width: 100%;
    background-image: url('./assets/img/course-software.jpg');
    height: 200px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .start-learning-img-3 {
    width: 100%;
    background-image: url('./assets/img/course-design.jpg');
    height: 200px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .start-learning-img-4 {
    width: 100%;
    background-image: url('./assets/img/course-data.jpg');
    height: 200px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .start-learning-img-5 {
    width: 100%;
    background-image: url('./assets/img/course-business.jpg');
    height: 200px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .start-learning-img-6 {
    width: 100%;
    background-image: url('./assets/img/course-marketing.jpg');
    height: 200px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .all-info {
    padding-left: 1rem;
  }
}

.bottom {
}

.bottom h1 {
  text-align: center;
  padding-top: 2rem;
}

.bottom main-content {
}

.bottom right-content {
}
