* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
}

.header-1 {
  text-align: center;
  background-color: lightgray;
  padding: 2rem 2rem 2rem;
}

.header-1 h2 {
  line-height: 1.5em;
}

.header-1 p {
  line-height: 2em;
  padding: 1.5rem 0 1.5rem 0;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-1 .button-start {
  width: 100%;
  padding: 15px 3rem;
  background-color: darkgray;
  color: white;
  border: none;
}

.header-2 {
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
}

.header-2 h2 p {
  padding: 0 1rem 0 1rem;
}

/* .header-2 img {
  padding-bottom: 4rem;
} */
.information-orientation {
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.banner-image {
  width: 100%;
}
.menubar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
}

.icons {
  width: 32px;
  height: 32px;
}

.header li {
  list-style-type: none;
  z-index: 999;
  position: relative;
}
.header ul {
  display: flex;
}

.header img {
}

.header li a {
}

.header {
}

.header right-sidebar {
}

.middle h1 {
  padding: 2rem 0 1rem 1rem;
  text-align: center;
}

.container-grid {
  display: grid;
  grid-template-columns: 6;
  padding: 0 1rem 0 1rem;
}

.container-grid .row {
  padding: 1rem 1rem 1.5rem;
  background-color: lightgray;
  margin: 0 0 0.5rem 0;
}

.bottom {
}

.bottom main-content {
}

.bottom right-content {
}

@media screen {
}
