* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
}

.header-1 {
  text-align: center;
  background-color: lightgray;
}

.header-1 h2 {
  line-height: 1.5em;
}

.header-1 p {
  line-height: 2em;
  padding: 1.5rem 0 1.5rem 0;
}

.header-1 .button-start {
  width: 100%;
  padding: 15px;
  background-color: darkgray;
  color: white;
}

.header-2 {
}

.banner-image {
  width: 100%;
}
.menubar {
  display: flex;
  justify-content: space-evenly;
}

.header li {
  list-style-type: none;
  z-index: 999;
  position: relative;
}
.header ul {
  display: flex;
}

.header img {
}

.header li a {
}

.header {
}

.header right-sidebar {
}

.middle container-grid {
}

.bottom {
}

.bottom main-content {
}

.bottom right-content {
}

@media screen {
}
